<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
</head>
<body>
<div th:replace="fragments/navbar :: navbarFragment"></div>

<main class="py-4">
    <div class="container">
        <h1>Dashboard</h1>

        <div th:if="${error != null}">
            <p th:text="${'Error: ' + error}" />
        </div>

        <div th:if="${error == null}" class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Users</h4>
                                <h5>Count: <b th:text="${users_count}"></b></h5>
                                <a th:href="@{~/admin/users}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-user fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Categories</h4>
                                <h5>Count: <b th:text="${categories_count}"></b></h5>
                                <a th:href="@{~/admin/categories}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-list fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Books</h4>
                                <h5>Count: <b th:text="${books_count}"></b></h5>
                                <a th:href="@{~/admin/books}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-book fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Publishers</h4>
                                <h5>Count: <b th:text="${publishers_count}"></b></h5>
                                <a th:href="@{~/admin/publishers}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-building fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Writers</h4>
                                <h5>Count: <b th:text="${writers_count}"></b></h5>
                                <a th:href="@{~/admin/writers}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-keyboard fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title fw-bold">Reviews</h4>
                                <h5>Count: <b th:text="${reviews_count}"></b></h5>
                                <a th:href="@{~/admin/reviews}" class="btn btn-primary">Manage</a>
                            </div>
                            <div>
                                <i class="fa-solid fa-star fa-4x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>