<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm" th:fragment="navbarFragment">
    <div class="container">
        <a class="navbar-brand" th:href="@{~/}">
            Quiz 2 PBKK
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li><a class="nav-link" th:href="@{~/books}">Book</a></li>
                <li><a class="nav-link" th:href="@{~/writers}">Writer</a></li>
                <li><a class="nav-link" th:href="@{~/publishers}">Publisher</a></li>
                <li><a class="nav-link" th:href="@{~/users}">Users</a></li>
            </ul>

            <ul class="navbar-nav ms-auto">

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{~/login}">Login</a>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{~/register}">Register</a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{~/admin}">
                        Dashboard
                    </a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${displayName}">
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{~/users}">
                            My Profile
                        </a>

                        <a class="dropdown-item" th:href="@{~/logout}">
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>