<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
</head>
<body>
<div th:replace="fragments/navbar :: navbarFragment"></div>

<main class="py-4">
    <div class="container">
        <h1>Add Publisher</h1>

        <div th:if="${param.keySet().contains('error')}" th:text="${param.error}" class="alert alert-danger"/>

        <form class="row gy-3 p-3 border rounded-3 border-2 bg-white mt-3" th:action="@{~/admin/publishers/store}"
              method="POST"
              th:object="${publisherForm}" enctype="multipart/form-data">
            <div class="col-12 form-group">
                <label class="form-label" th:for="*{name}">Title</label>
                <input type="text" class="form-control" th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" required>

                <span th:if="${#fields.hasErrors('name')}" class="invalid-feedback" role="alert">
                    <strong th:each="error: ${#fields.errors('name')}" th:text="${error}"></strong>
                </span>
            </div>
            <div class="col-12 form-group">
                <label class="form-label" th:for="*{address}">Address</label>
                <input type="text" class="form-control" th:field="*{address}"
                       th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''" required>

                <span th:if="${#fields.hasErrors('address')}" class="invalid-feedback" role="alert">
                    <strong th:each="error: ${#fields.errors('address')}" th:text="${error}"></strong>
                </span>
            </div>
            <div class="col-6 form-group">
                <label class="form-label" th:for="*{email}">Email</label>
                <input type="email" class="form-control" th:field="*{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" required>

                <span th:if="${#fields.hasErrors('email')}" class="invalid-feedback" role="alert">
                    <strong th:each="error: ${#fields.errors('email')}" th:text="${error}"></strong>
                </span>
            </div>
            <div class="col-6 form-group">
                <label class="form-label" th:for="*{phone}">Phone Number</label>
                <input type="tel" class="form-control" th:field="*{phone}"
                       th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''" required>

                <span th:if="${#fields.hasErrors('phone')}" class="invalid-feedback" role="alert">
                    <strong th:each="error: ${#fields.errors('phone')}" th:text="${error}"></strong>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label" th:for="*{image}">Image</label>
                <input type="file" class="form-control" th:field="*{image}"
                       th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''" required accept="image/*">

                <span th:if="${#fields.hasErrors('image')}" class="invalid-feedback" role="alert">
                    <strong th:each="error: ${#fields.errors('image')}" th:text="${error}"></strong>
                </span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Publisher</button>
            </div>
        </form>
    </div>
</main>

</body>
</html>