<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: headFragment">
</head>
<body>
<div th:replace="fragments/navbar :: navbarFragment"></div>

<main class="py-4">
    <div class="container">
        <div th:if="${error != null}">
            <p th:text="${'Error: ' + error}"/>
        </div>

        <div th:if="${error == null && publisher != null}">
            <div class="d-flex flex-row">
                <img th:src="${publisher.image_url}" th:alt="${publisher.name} + '\'s cover image'" width="200px"
                     height="200px">
                <div class="d-flex flex-column ms-3 mt-1">
                    <h6 class="text-primary mb-0">PUBLISHER</h6>
                    <h1 th:text="${publisher.name}" class="fw-bolder"></h1>
                    <p class="mb-1"><b>Address</b> <span th:text="${publisher.address}"/></p>
                    <p class="mb-1"><b>Email</b> <span th:text="${publisher.email}"/></p>
                    <p><b>Phone</b> <span th:text="${publisher.phone}"/></p>
                </div>
            </div>

            <h2 class="mt-5">Books <span th:text="${publisher.books != null} ? ${publisher.books.size()} : '0'"></span>
            </h2>
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-lg-5 g-3">
                <div th:if="${publisher.books != null}" th:each="book: ${publisher.books}"
                     class="col position-relative">
                    <div class="card h-100">
                        <img class="card-image-top" th:src="${book.cover_image}" alt="image" style="width:100%">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <a class="card-title fw-bold fs-5 stretched-link text-black text-decoration-none m-0"
                                   th:href="@{~/books/{id}(id=${book.id})}"
                                   th:text="${#strings.abbreviate(book.title, 30)}"></a>
                                <p class="m-0" th:text="${book.writersName()}"></p>
                            </div>
                            <div class="d-flex flex-row">
                                            <span style="color: Orange;">
                                                <i class="fas fa-star"></i>
                                            </span>
                                <p th:if="${!book.reviews.isEmpty()}" th:text="${book.formattedRating(2)} + ' (' + ${book.reviews.size()} + ' Reviews)'" class="ms-1 mb-0"></p>
                                <p th:if="${book.reviews.isEmpty()}" class="ms-1 mb-0">-</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>